<!DOCTYPE html>
<html>
  <head>
    <link href="../Content/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../Content/css/styles.css" rel="stylesheet" type="text/css">
    <title>Word Counter</title>
  </head>
  <body>
    <div class="jumbotron">
      <img src="/../Content/css/images/cat.png" alt="a picture of a cat">
      <h1>Word Counter</h1>
    </div>
    <div class="container">
      <h2><a href="/">please enter both a sentence and a word</a></h2><br>
    </div>
  </body>
</html>
