<!DOCTYPE html>
<html>
  <head>
    <link href="../Content/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../Content/css/styles.css" rel="stylesheet" type="text/css">
    <title>Word Counter</title>
  </head>
  <body>
    <div class="jumbotron">
      <img src="/../Content/css/images/cat.png" alt="a picture of a cat">
      <h1>Word Counter</h1>
    </div>
    <div class="container">
      <h2>Find out how many times a given word appears in your sentence.</h2><br>

        <form action="/sentence" method="post">
          <div class="form-group">
            <label for="sentence">Enter a sentence to search:</label>
            <input type="text" class="form-control" name="sentence">
          </div>
          <div class="form-group">
            <label for="word">Enter a word:</label>
            <input type="text"  name="word" class="wordInput">
          </div>

            <button type="submit" class="btn btn-success">SUBMIT</button>
        </form>
    </div>
  </body>
</html>
