<!DOCTYPE html>
<html>
  <head>
    <link href="../Content/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../Content/css/styles.css" rel="stylesheet" type="text/css">
    <title>Word Counter</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Word Counter</h1>
    </div>
    <div class="container">
      <h2>Your word '@Model.Word ' appeared @Model.CountRepeats() time/s.</h2><br>
      </div><br>
      <div class="link">
      <a href="/">search another sentence</a>
    </div>
  </body>
</html>
